* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#chatBox {
  position: relative;
  height: 500px;
  width: 400px;
  border: 1px solid black;
  margin: auto;
  margin-top: 30px;
}

#chatInput {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
}

#chatSubmit {
  position: absolute;
  bottom: 0;
  right: 0;
}

#chatMessages {
  height: 90%;
  width: 95%;
  position: absolute;
  left: 2.5%;
  top: 2%;
  overflow: auto;
}

#message {
  border: 1px solid black;
  width: 80%;
  border-radius: 20px;
  margin-left: 4px;
  margin-top: 4px;
  background-color: pink;
}

#message p,
#receivedMessage p {
  padding: 4px;
  color: white;
  text-align: left;
  margin-left: 2%;
}

#receivedMessage {
  border: 1px solid black;
  width: 80%;
  border-radius: 20px;
  margin-left: 4px;
  margin-top: 4px;
  background-color: rgb(25, 28, 189);
}

/* #avatar {
  margin-top: 4px;
  border: 1px solid black;
  width: 15%;
  height: 10%;
  display: inline-block;
} */

.hiddenDate {
  display: none;
  position: absolute;
  color: black;
  font-size: 80%;
  background-color: rgb(216, 211, 211);
  padding: 5px;
  border: 1px solid black;
  right: 0;
}

#message p:hover > .hiddenDate {
  display: flex;
}
