#artist {
  height: 300px;
  width: 450px;
}

button {
  padding: 2px;
  margin: 5px;
  background-color: lightgrey;
  border-radius: 5px;
}

input {
  margin: 5px;
}

#artistInfo {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
