.dot {
  margin: 50px 5px;
  position: relative;
  display: inline-block;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid gray;
  border-left: 50px solid transparent;
  transform: rotate(35deg);
}
.dot:before {
  border-bottom: 40px solid gray;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -23px;
  left: -33px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.dot:after {
  position: absolute;
  display: block;
  top: 1px;
  left: -53px;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid gray;
  border-left: 50px solid transparent;
  transform: rotate(-70deg);
  content: "";
}

form input {
  margin-top: 5px;
}

.colouredDot {
  border-bottom: 35px solid gold;
}

.colouredDot:before {
  border-bottom: 40px solid gold;
}

.colouredDot:after {
  border-bottom: 35px solid gold;
}
