.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
}

form input {
  margin-top: 5px;
}

.colouredDot {
  background-color: green;
}
